@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Signika:wght@300;400&family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

/* INICIO HTML */
/* Header */

.body {
    background-color: #9F3548;
}
.titulo {
    background-image: url(./../Img/Banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imagendelogo {
    display: grid;
    place-items: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Lista no ordenada - barra de navegación */

ul {
    background-color: rgb(250, 228, 233);
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    font-family: 'Signika', sans-serif;
    font: bold;
    list-style-type: none;
    /* display: inline-block; */
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.menu li a {
    color:#5D0313;
    text-align: center
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.subrayado{
    text-decoration: none;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: center;
    padding: 20px;
    transition: transform 1s;
}

.subrayado:hover {
    transform: scale(2.1) translateY(-40px);
}

/* Banner con nombre o título de las páginas */

.body {
    background-color: #9F3548;
}

.banner {
    background-image: url("./../Img/Banner2.jpg");
    background-size: 100%
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: 'Caveat', cursive;
    color: #E18E9D;
    font-size: 60px;
    text-align: center;
}

/* Información del HTML */

section {
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
}

.info p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B0005;
    font-size: 17px;
    line-height: 30px;
}

h3{
    color: #E18E9D;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.subtitulo-info {
    padding-top: 2rem;
}

.cajita {
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}

.img_inicio {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.parrafos {
    width: 100%;
    height: 100%;
    /* display: inline-block;*/
    align-items: center;
    position: right;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 20px;
}

/* Footer */

.volver {
    color: #E18E9D;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.redes {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.redes a {
    color: #F9E9EC;
}

/* Segunda página Productos */

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    /* grid-auto-rows: 1fr; */
    gap: 24px;
    margin: 20px;
    padding: 10px;
}

.producto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    /* align-items: center; */
}

.producto {
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    .scale-up-center{-webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}
}

h2{
    font-family: 'Signika', sans-serif;
    color: #E18E9D;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

/* Tercer página Podcast */

.videopodcast {
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.Subtitulo {
    display: flex;
    justify-content: center;
}

/* Cuarta página Noticias */

.Notinfo {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 260px;
    height: 380px;
    background-color: #E18E9D;;
    padding: 3rem;
    margin: 1rem;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2px;
    margin: 3px;
}

/* Quinta página Contacto */

.info-contacto {
    padding-top: 2rem;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.atencion {
    display: flex;
    justify-content: space-between;
  }

.p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 50%;
    position: absolute;
}



/* Mobile first */

@media screen and (max-width: 480px) { 
    .body {
        background-color: #AA4139;
        color: #FF2615;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cajita {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .img_inicio {
        display: flex;
        text-align: center;
        width: 100%;
    }
    .parrafos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        position: relative;
        padding: auto;
        margin: auto;
    }
    .imagendelogo {
        margin:auto;
    }
    .titulo {
        flex-direction: column;
        width: 100%;
    }
     .info {
        flex-direction: column;
     }

    .menu {
        flex-direction: column;
        width: auto;
    }

     .productos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
     }

     .menu li a {
        color: #130C0B;
     }

     .h1 {
        color: #FF2615;
     }

     .h2 {
        color: #F64133;
     }

     .h3 {
        color: #5E2F2B;
     }

     .info {
        flex-direction: column;
        width: auto;
     }
     .Notinfo {
        display: grid;
        grid-template-columns: 100%;
        /* text-align: start; */
        /* width: 100%; */
     }

     .Subtitulo {
        flex-direction: column;
        width: auto;
     }

     .info-contacto {
        padding-top: 0rem;
        padding-inline: 0rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
      }
     
     .horario {
        display: grid;
        grid-template-columns: 1fr;
     }
     .comunicate {
        display: grid;
        grid-template-columns: 1fr;
     }
     .contactanos {
        display: grid;
        grid-template-columns: 1fr;
     }

    

}


/* Tablet screen */

@media screen and (min-width: 480px) and (max-width: 800px) {
    .body {
        background-color: #78286B;
        color: #E600C2;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cajita {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .img_inicio {
        display: flex;
        width: 60%;
        align-content: center;
        
    }
    .parrafos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        position: relative;
        padding: auto;
        margin: auto;
    }
    .imagendelogo {
        margin:auto;
    }
    .titulo {
        flex-direction: column;
        width: 100%;
    }
     .info {
        flex-direction: column;
     }
    .menu {
        flex-direction: column;
    }

     .productos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
     }

     .menu li a {
        color: #141313;
     }

     .h1 {
        color: #E600C2;
     }

     .h2 {
        color: #AA0490;
     }

     .h3 {
        color: #462D42;
     }

}  