@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Signika:wght@300;400&family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

$fontSignika: 'Signika', sans-serif;
$mainColor: #9F3548;
$secondaryColor: #E18E9D;